<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sharedwebcredential" version="1.0.0">

    <name>cordova-plugin-sharedwebcredential</name>
    <description>This plugin allows your app to save username/password do Keychain shared with website credentials.</description>
    <license>Apache 2.0</license>
    <keywords>sharedwebcredential,keychain</keywords>

    <engines>
      <engine name="cordova" version=">=3.2.0" />
    </engines>

    <repo>https://github.com/fana605/cordova-plugin-sharedwebcredential.git</repo>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="Sharedwebcredential" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="Sharedwebcredential">
                <param name="ios-package" value="Sharedwebcredential" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/Sharedwebcredential.h" />
        <source-file src="src/ios/Sharedwebcredential.m" />
        <framework src="Security.framework" />
    </platform>
</plugin>
